<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PhoneStore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>LoginServlet</servlet-name>
  	 <url-pattern>/LoginServlet</url-pattern>	
  </servlet-mapping>
  
    <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>RegisterServlet</servlet-name>
  	 <url-pattern>/RegisterServlet</url-pattern>	
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>CheckServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>CheckServlet</servlet-name>
  	 <url-pattern>/CheckServlet</url-pattern>	
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>AlterCartServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.AlterCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>AlterCartServlet</servlet-name>
  	 <url-pattern>/AlterCartServlet</url-pattern>	
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>SearchServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>SearchServlet</servlet-name>
  	 <url-pattern>/SearchServlet</url-pattern>	
  </servlet-mapping>    
 
  <servlet>
  	<servlet-name>AlterPhoneServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.AlterPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>AlterPhoneServlet</servlet-name>
  	 <url-pattern>/AlterPhoneServlet</url-pattern>	
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>AlterMessageServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.AlterMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>AlterMessageServlet</servlet-name>
  	 <url-pattern>/AlterMessageServlet</url-pattern>	
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>AlterMessServlet</servlet-name>
  	<servlet-class>zzy.phoneStore.servlet.AlterMessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>AlterMessServlet</servlet-name>
  	 <url-pattern>/AlterMessServlet</url-pattern>	
  </servlet-mapping> 
</web-app>